body{
    background-color:#EEF0F6 !important; 
}
.dark{
    background-color: #151618da !important;
}
.darkmode{
    border: none;
    border: 1px solid #3df5dc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-transform: capitalize;
    background-color: #3df5dc;
}
h3{
    color: red;
}
.main{
    background-color:#FEFEFE;
    width: 520px;
    height: 620px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #E3E6EF;
}
form input {
    display: block;
    width: 424px;
    height: 64px;
    margin-top: 10px;
    margin-left: 30px;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-transform: capitalize;
    font-family: brandon grotesque;
    font-size: 24px;
    color:#9399a3 ;
    padding-left: 25px;
}
form a{
    display: block;
    width: 177px;
    height: 22px;
    font-size: 22px;
    margin-left: 18rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #9399a3;
    margin-bottom: 3rem;
}
form button{
    width: 424px;
    height: 64px;
    background-color: #691afd;
    border: none;
    border: 1px solid #691afd;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1rem;
}
.bor-sign{
    align-items: center ;
    height: 150PX;
}
.bor-sign .border1{
    border: 1px solid #9399a3;
    height: 2px;
}
.bor-sign a{
    width: 170px;
    height: 22px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #9399a3;
}
.bor-sign i{
    font-size: 60px;
}
.bor-sign .fa-facebook{
    color: #3549e5;
}
.bor-sign .fa-twitter{
    color: #219fef;
}
/************************ end index ****************** */
.img_bound{
    position: relative;
    left: 59px;
    top: 67px;
}
.img_freebie{
    position: absolute;
    left: 102px;
    top: 109px;
}
.img_pinsk{
    position: absolute;
    left: 110px;
    top: 311px;
}
.user{
    width: 159px;
    height: 100px;
}
.user .img_ellips{
    position: relative;
    left: 937px;
    top: 150px;
}
.user .img_me{
    position: absolute;
    left: 950px;
    top: 530px;
}
.prompet{
    position: relative;
    left: 90px;
    top: 120px;
    width: 1068px;
    height: 333px;
}
.prompet span{
    width: 145px;
    height: 21px;
    font-size: 26px;
    color: #0980fd;
}
.prompet h2{
    width: 184px;
    height: 93px;
    font-size: 58px;
    color: #222c41;
}
.prompet img{
    width: 244px;
    height: 8px;

}
.prompet p{
    width: 1068px;
    height: 114px;
    font-size: 32px;
    color: #222841;
    font-style: italic;
}
/******************* end page ********************/
footer{
    position: relative;
    height: 368px;
    background-image: url(../img/Background.png);
    background-size: cover;
}
.foot .img_Decoration{
    position: relative;
    left: 102px;
    top: 60px;
}
footer .img_Rectangle{
    position: relative;
    left: 169px;
}
footer i{
    position: absolute;
    font-size: xx-large;
}
footer .fa-user-plus{
    left: 202px;
    top: 290px;
}
footer .fa-mobile-screen-button{
    left: 290px;
    top: 290px;
}
footer .fa-play{
    left: 365px;
    top: 290px;
}
.links{
    position: absolute;
    left: 950px;
    top: 150px;
}
.links p{
    width: 331px;
    height: 62px;
    font-size: 24px;
    color: #222841;
}
.links .img_Container{
    position: relative;
}
.links .img_Twitter,.img_Instagram,.img_Dribbble,.img_Behance{
    position: absolute;
}
.img_Twitter{
    left: 50px;
    top: 105px;
}
.img_Instagram{
    left: 130px;
    top: 105px;
}
.img_Dribbble{
    left: 210px;
    top: 105px;
}
.img_Behance{
    left: 290px;
    top: 105px;
}
@media (min-width: 350px) and (max-width: 1160px)  {
    footer{
        width: 100%;
    }
}
