body{
    background-color:#EEF0F6 !important; 
}
.dark{
    background-color: #151618da !important;
}
.darkmode{
    border: none;
    border: 1px solid #3df5dc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-transform: capitalize;
    background-color: #3df5dc;
}
h3{
    color: red;
}
section{
    background-color:#FEFEFE;
    width: 520px;
    height: 620px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #E3E6EF;
}
form input {
    display: block;
    width: 424px;
    height: 64px;
    margin-top: 10px;
    margin-left: 30px;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-transform: capitalize;
    font-family: brandon grotesque;
    font-size: 24px;
    color:#9399a3 ;
    padding-left: 25px;
}
form a{
    display: block;
    width: 177px;
    height: 22px;
    font-size: 22px;
    margin-left: 18rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #9399a3;
    margin-bottom: 3rem;
}
form button{
    width: 424px;
    height: 64px;
    background-color: #691afd;
    border: none;
    border: 1px solid #691afd;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1rem;
}
.bor-sign{
    align-items: center ;
    height: 150PX;
}
.bor-sign .border1{
    border: 1px solid #9399a3;
    height: 2px;
}
.bor-sign a{
    width: 170px;
    height: 22px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #9399a3;
}
.bor-sign i{
    font-size: 60px;
}
.bor-sign .fa-facebook{
    color: #3549e5;
}
.bor-sign .fa-twitter{
    color: #219fef;
}